DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_PORT=
DATABASE_HOST=

BOT_TOKEN=

#REDIS_HOST=host.docker.internal
REDIS_HOST=
REDIS_PORT=
REDIS_DB=

SCHEDULER_LOCK_KEY=

TZ=

REDIS_STREAM_KEY=

APP_ENV=

SHOP_ID=
SHOP_SECRET_KEY=

ADMIN_IDS=

WEBHOOK_URL=