DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_PORT=
DATABASE_HOST=

REDIS_HOST=
REDIS_PORT=
REDIS_DB=
SCHEDULER_LOCK_KEY=
REDIS_STREAM_KEY=

FUNNEL_BOT_WEBHOOK_URL=
FUNNEL_BOT_TOKEN=
FUNNEL_BOT_WEBHOOK_SECRET_TOKEN=

COURSE_BOT_WEBHOOK_URL=
COURSE_BOT_TOKEN=
COURSE_BOT_WEBHOOK_SECRET_TOKEN=
COURSE_BOT_LINK=

SHOP_ID=
SHOP_SECRET_KEY=

ADMIN_IDS=
TZ=
APP_ENV=

