DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_PORT=
DATABASE_HOST=

BOT_TOKEN=

REDIS_PORT=
REDIS_HOST=
REDIS_DB=

SCHEDULER_LOCK_KEY=

REDIS_STREAM_KEY=

TZ=

DEV_MODE=

SHOP_ID=
SHOP_SECRET_KEY=

DEFAULT_PRICE=