DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_PORT=
DATABASE_HOST=

REDIS_HOST=
REDIS_PORT=
REDIS_DB=
SCHEDULER_LOCK_KEY=
REDIS_STREAM_KEY=

FUNNEL_BOT_WEBHOOK_URL=
FUNNEL_BOT_TOKEN=7339042382:AAGvUVoNQJBys0Z0Ltxa2mw4EIizsWs-2Ls
FUNNEL_BOT_SECRET_TOKEN=

SHOP_ID=
SHOP_SECRET_KEY=

ADMIN_IDS=
TZ=
APP_ENV=

